# Application Config
PORT=8080
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRATION=86400000

# Database Configuration (for Railway, they provide DATABASE_URL)
DATABASE_URL=jdbc:postgresql://localhost:5432/teamly
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=password

# Cloudinary
CLOUDINARY_CLOUD_NAME=dnfwhh6bj
CLOUDINARY_API_KEY=835237556675466
CLOUDINARY_API_SECRET=-Hyd21jda1P3bg3lzAMzexd41uY

# Mail
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=opabunmidavid@gmail.com
MAIL_PASSWORD=wpgrspemzwfdwwxi
